In [21]:
import polars as pl
import pandas as pd
import numpy as np
from utils.functions import read_tsv_with_polars

In [23]:
ratings_df = read_tsv_with_polars("../pipeline/data/raw_data/csv/imdb/title.ratings.tsv", ['const', 'averageRating', 'numVotes'], [pl.Utf8, pl.Float32, pl.Int32])

In [25]:
ratings_df.head(10)

shape: (10, 3)
┌───────────┬───────────────┬──────────┐
│ const     ┆ averageRating ┆ numVotes │
│ ---       ┆ ---           ┆ ---      │
│ str       ┆ f32           ┆ i32      │
╞═══════════╪═══════════════╪══════════╡
│ tt0000001 ┆ 5.7           ┆ 2014     │
│ tt0000002 ┆ 5.7           ┆ 272      │
│ tt0000003 ┆ 6.5           ┆ 1936     │
│ tt0000004 ┆ 5.4           ┆ 179      │
│ …         ┆ …             ┆ …        │
│ tt0000007 ┆ 5.4           ┆ 843      │
│ tt0000008 ┆ 5.4           ┆ 2160     │
│ tt0000009 ┆ 5.3           ┆ 207      │
│ tt0000010 ┆ 6.8           ┆ 7382     │
└───────────┴───────────────┴──────────┘

In [26]:
column_names = ['const', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 
                'startYear', 'endYear', 'runtimeMinutes', 'genres']

# Define column types
# Adjust these based on the actual data in each column
column_types = [pl.Utf8, pl.Utf8, pl.Utf8, pl.Utf8, pl.Int32, 
                pl.Int32, pl.Int32, pl.Int32, pl.Utf8]

basics_df = read_tsv_with_polars('../pipeline/data/raw_data/csv/imdb/title.basics.tsv', column_names, column_types)

In [27]:
basics_df["titleType"].value_counts()

shape: (11, 2)
┌───────────┬─────────┐
│ titleType ┆ count   │
│ ---       ┆ ---     │
│ str       ┆ u32     │
╞═══════════╪═════════╡
│ short     ┆ 969727  │
│ movie     ┆ 667364  │
│ tvEpisode ┆ 7982934 │
│ tvPilot   ┆ 1       │
│ …         ┆ …       │
│ video     ┆ 285553  │
│ tvSeries  ┆ 254628  │
│ tvMovie   ┆ 143915  │
│ videoGame ┆ 36964   │
└───────────┴─────────┘

In [28]:
filter_condition = basics_df['titleType'] == "movie"

movies = basics_df.filter(filter_condition)

In [29]:
print(movies.shape)
movies.columns

(667364, 9)

['const',
 'titleType',
 'primaryTitle',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres']

In [32]:
movie_ratings = movies.join(ratings_df, on="const", how="inner")

movie_ratings = movie_ratings.sort(by="numVotes", descending=True)
print(movie_ratings.shape)
movie_ratings["originalTitle"].value_counts()

(301971, 11)

shape: (277_168, 2)
┌─────────────────────────────────────────────────────┬───────┐
│ originalTitle                                       ┆ count │
│ ---                                                 ┆ ---   │
│ str                                                 ┆ u32   │
╞═════════════════════════════════════════════════════╪═══════╡
│ The Yellow Balloon                                  ┆ 1     │
│ Blef doskonaly                                      ┆ 1     │
│ The Final Scream                                    ┆ 1     │
│ The Great Train Robbery                             ┆ 1     │
│ …                                                   ┆ …     │
│ Tera senshi sai boy                                 ┆ 1     │
│ Amberpark: the Movie                                ┆ 1     │
│ The Pied Piper of Cleveland: A Day in the Life of … ┆ 1     │
│ Ninjutsu gozen-jiai                                 ┆ 1     │
└─────────────────────────────────────────────────────┴───────┘

In [29]:
movie_ratings = movie_ratings.filter(movie_ratings['startYear'].is_not_null())
movie_ratings['startYear'].value_counts(sort=True)

shape: (127, 2)
┌───────────┬───────┐
│ startYear ┆ count │
│ ---       ┆ ---   │
│ i32       ┆ u32   │
╞═══════════╪═══════╡
│ 2019      ┆ 10485 │
│ 2018      ┆ 10368 │
│ 2017      ┆ 10293 │
│ 2022      ┆ 10081 │
│ …         ┆ …     │
│ 1900      ┆ 2     │
│ 1894      ┆ 1     │
│ 1904      ┆ 1     │
│ 1902      ┆ 1     │
└───────────┴───────┘

In [30]:
movies_2023 = movie_ratings.filter(pl.col('startYear') == 2023)
movies_2023.head()

shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ const     ┆ titleType ┆ primaryTi ┆ originalT ┆ … ┆ runtimeMi ┆ genres    ┆ averageRa ┆ numVotes │
│ ---       ┆ ---       ┆ tle       ┆ itle      ┆   ┆ nutes     ┆ ---       ┆ ting      ┆ ---      │
│ str       ┆ str       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ str       ┆ ---       ┆ i32      │
│           ┆           ┆ str       ┆ str       ┆   ┆ i32       ┆           ┆ f32       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ tt0070596 ┆ movie     ┆ Socialist ┆ El        ┆ … ┆ 78        ┆ Drama     ┆ 7.5       ┆ 52       │
│           ┆           ┆ Realism   ┆ realismo  ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ socialist ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ a         ┆   ┆           ┆           ┆           ┆          │
│ tt0122511 ┆ movie     ┆ The       ┆ The       ┆ … ┆ 74        ┆ Adventure ┆ 6.1       ┆ 62       │
│           ┆           ┆ Gnomes    ┆ Gnomes    ┆   ┆           ┆ ,Animatio ┆           ┆          │
│           ┆           ┆ Great     ┆ Great     ┆   ┆           ┆ n,Comedy  ┆           ┆          │
│           ┆           ┆ Adventure ┆ Adventure ┆   ┆           ┆           ┆           ┆          │
│ tt0164115 ┆ movie     ┆ Nine Ball ┆ Nine Ball ┆ … ┆ null      ┆ null      ┆ 6.0       ┆ 35       │
│ tt0221503 ┆ movie     ┆ A         ┆ A         ┆ … ┆ 62        ┆ Crime,Dra ┆ 5.7       ┆ 112      │
│           ┆           ┆ Question  ┆ Question  ┆   ┆           ┆ ma        ┆           ┆          │
│           ┆           ┆ of        ┆ of        ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ Suspense  ┆ Suspense  ┆   ┆           ┆           ┆           ┆          │
│ tt0347992 ┆ movie     ┆ Death Ray ┆ Shanhu    ┆ … ┆ null      ┆ Sci-Fi,Th ┆ 4.8       ┆ 26       │
│           ┆           ┆ on Coral  ┆ dao shang ┆   ┆           ┆ riller    ┆           ┆          │
│           ┆           ┆ Island    ┆ de shi    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ guang     ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [31]:
movie_ratings = movie_ratings.filter(pl.col("numVotes") > 10000)

movie_ratings.shape

(10916, 11)

In [ ]:
movie_ratings.sort('averageRating', descending=True)

movie_ratings.write_parquet('./data/movies_with_ratings.parquet')