In [2]:
import polars as pl
from utils.functions import open_parquet

In [3]:
name_file = "../dagster/data/raw_data/parquet/name.basics.parquet"
# df_name = open_parquet(name_file)
df_name = pl.read_parquet(name_file)
print(df_name.shape)
print(df_name.columns)
df_name.head()

(13142051, 6)
['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

shape: (5, 6)
┌───────────┬─────────────────┬───────────┬───────────┬──────────────────────┬─────────────────────┐
│ nconst    ┆ primaryName     ┆ birthYear ┆ deathYear ┆ primaryProfession    ┆ knownForTitles      │
│ ---       ┆ ---             ┆ ---       ┆ ---       ┆ ---                  ┆ ---                 │
│ str       ┆ str             ┆ str       ┆ str       ┆ str                  ┆ str                 │
╞═══════════╪═════════════════╪═══════════╪═══════════╪══════════════════════╪═════════════════════╡
│ nm0000001 ┆ Fred Astaire    ┆ 1899      ┆ 1987      ┆ soundtrack,actor,mis ┆ tt0050419,tt0031983 │
│           ┆                 ┆           ┆           ┆ cellaneous           ┆ ,tt0072308,tt…      │
│ nm0000002 ┆ Lauren Bacall   ┆ 1924      ┆ 2014      ┆ actress,soundtrack   ┆ tt0075213,tt0037382 │
│           ┆                 ┆           ┆           ┆                      ┆ ,tt0038355,tt…      │
│ nm0000003 ┆ Brigitte Bardot ┆ 1934      ┆ \N        ┆ actress,soundtrack,m ┆ tt0049189,tt0054452 │
│           ┆                 ┆           ┆           ┆ usic_departm…        ┆ ,tt0056404,tt…      │
│ nm0000004 ┆ John Belushi    ┆ 1949      ┆ 1982      ┆ actor,soundtrack,wri ┆ tt0078723,tt0077975 │
│           ┆                 ┆           ┆           ┆ ter                  ┆ ,tt0080455,tt…      │
│ nm0000005 ┆ Ingmar Bergman  ┆ 1918      ┆ 2007      ┆ writer,director,acto ┆ tt0083922,tt0069467 │
│           ┆                 ┆           ┆           ┆ r                    ┆ ,tt0050986,tt…      │
└───────────┴─────────────────┴───────────┴───────────┴──────────────────────┴─────────────────────┘

In [4]:
title_basics_file = "../dagster/data/raw_data/parquet/title.basics.parquet"
df_title_basics = open_parquet(title_basics_file)
print(df_title_basics.shape)

df_title_basics = df_title_basics.filter(pl.col('titleType') == "movie")
print(df_title_basics.shape)
print(df_title_basics.columns)
df_title_basics.head()

(10448119, 9)
(667364, 9)
['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

shape: (5, 9)
┌───────────┬───────────┬────────────┬───────────┬───┬───────────┬─────────┬───────────┬───────────┐
│ tconst    ┆ titleType ┆ primaryTit ┆ originalT ┆ … ┆ startYear ┆ endYear ┆ runtimeMi ┆ genres    │
│ ---       ┆ ---       ┆ le         ┆ itle      ┆   ┆ ---       ┆ ---     ┆ nutes     ┆ ---       │
│ str       ┆ str       ┆ ---        ┆ ---       ┆   ┆ i64       ┆ str     ┆ ---       ┆ str       │
│           ┆           ┆ str        ┆ str       ┆   ┆           ┆         ┆ str       ┆           │
╞═══════════╪═══════════╪════════════╪═══════════╪═══╪═══════════╪═════════╪═══════════╪═══════════╡
│ tt0000009 ┆ movie     ┆ Miss Jerry ┆ Miss      ┆ … ┆ 1894      ┆ \N      ┆ 45        ┆ Romance   │
│           ┆           ┆            ┆ Jerry     ┆   ┆           ┆         ┆           ┆           │
│ tt0000147 ┆ movie     ┆ The Corbet ┆ The Corbe ┆ … ┆ 1897      ┆ \N      ┆ 100       ┆ Documenta │
│           ┆           ┆ t-Fitzsimm ┆ tt-Fitzsi ┆   ┆           ┆         ┆           ┆ ry,News,S │
│           ┆           ┆ ons Fight  ┆ mmons     ┆   ┆           ┆         ┆           ┆ port      │
│           ┆           ┆            ┆ Fight     ┆   ┆           ┆         ┆           ┆           │
│ tt0000502 ┆ movie     ┆ Bohemios   ┆ Bohemios  ┆ … ┆ 1905      ┆ \N      ┆ 100       ┆ \N        │
│ tt0000574 ┆ movie     ┆ The Story  ┆ The Story ┆ … ┆ 1906      ┆ \N      ┆ 70        ┆ Action,Ad │
│           ┆           ┆ of the     ┆ of the    ┆   ┆           ┆         ┆           ┆ venture,B │
│           ┆           ┆ Kelly Gang ┆ Kelly     ┆   ┆           ┆         ┆           ┆ iography  │
│           ┆           ┆            ┆ Gang      ┆   ┆           ┆         ┆           ┆           │
│ tt0000591 ┆ movie     ┆ The        ┆ L'enfant  ┆ … ┆ 1907      ┆ \N      ┆ 90        ┆ Drama     │
│           ┆           ┆ Prodigal   ┆ prodigue  ┆   ┆           ┆         ┆           ┆           │
│           ┆           ┆ Son        ┆           ┆   ┆           ┆         ┆           ┆           │
└───────────┴───────────┴────────────┴───────────┴───┴───────────┴─────────┴───────────┴───────────┘

In [5]:
title_akas_file = ("../dagster/data/raw_data/parquet/title.akas.parquet")
df_title_akas = open_parquet(title_akas_file)
print(df_title_akas.shape)
print(df_title_akas.columns)

(37869662, 8)
['titleId', 'ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle']

In [6]:
title_rate_file = "../dagster/data/raw_data/parquet/title.ratings.parquet"
# df_title_ratings = open_parquet(title_rate_file)
df_title_ratings = pl.read_parquet(title_rate_file)
print(df_title_ratings.shape)
print(df_title_ratings.columns)
df_title_ratings.head()

(1385133, 3)
['tconst', 'averageRating', 'numVotes']

shape: (5, 3)
┌───────────┬───────────────┬──────────┐
│ tconst    ┆ averageRating ┆ numVotes │
│ ---       ┆ ---           ┆ ---      │
│ str       ┆ f64           ┆ i64      │
╞═══════════╪═══════════════╪══════════╡
│ tt0000001 ┆ 5.7           ┆ 2014     │
│ tt0000002 ┆ 5.7           ┆ 272      │
│ tt0000003 ┆ 6.5           ┆ 1936     │
│ tt0000004 ┆ 5.4           ┆ 179      │
│ tt0000005 ┆ 6.2           ┆ 2707     │
└───────────┴───────────────┴──────────┘

In [7]:
title_crew_file = "../dagster/data/raw_data/parquet/title.crew.parquet"
# df_title_crew = open_parquet(title_crew_file)
df_title_crew = pl.read_parquet(title_crew_file)
print(df_title_crew.shape)
print(df_title_crew.columns)
df_title_crew.head()

(10448119, 3)
['tconst', 'directors', 'writers']

shape: (5, 3)
┌───────────┬───────────┬─────────┐
│ tconst    ┆ directors ┆ writers │
│ ---       ┆ ---       ┆ ---     │
│ str       ┆ str       ┆ str     │
╞═══════════╪═══════════╪═════════╡
│ tt0000001 ┆ nm0005690 ┆ \N      │
│ tt0000002 ┆ nm0721526 ┆ \N      │
│ tt0000003 ┆ nm0721526 ┆ \N      │
│ tt0000004 ┆ nm0721526 ┆ \N      │
│ tt0000005 ┆ nm0005690 ┆ \N      │
└───────────┴───────────┴─────────┘

In [8]:
title_principals_file = "../dagster/data/raw_data/parquet/title.principals.parquet"
df_title_principals = pl.read_parquet(title_principals_file)
# df_title_principals = open_parquet(title_principals_file)
print(df_title_principals.shape)
print(df_title_principals.columns)
df_title_principals.head()

(58791290, 6)
['tconst', 'ordering', 'nconst', 'category', 'job', 'characters']

shape: (5, 6)
┌───────────┬──────────┬───────────┬─────────────────┬─────────────────────────┬────────────┐
│ tconst    ┆ ordering ┆ nconst    ┆ category        ┆ job                     ┆ characters │
│ ---       ┆ ---      ┆ ---       ┆ ---             ┆ ---                     ┆ ---        │
│ str       ┆ i64      ┆ str       ┆ str             ┆ str                     ┆ str        │
╞═══════════╪══════════╪═══════════╪═════════════════╪═════════════════════════╪════════════╡
│ tt0000001 ┆ 1        ┆ nm1588970 ┆ self            ┆ \N                      ┆ ["Self"]   │
│ tt0000001 ┆ 2        ┆ nm0005690 ┆ director        ┆ \N                      ┆ \N         │
│ tt0000001 ┆ 3        ┆ nm0374658 ┆ cinematographer ┆ director of photography ┆ \N         │
│ tt0000002 ┆ 1        ┆ nm0721526 ┆ director        ┆ \N                      ┆ \N         │
│ tt0000002 ┆ 2        ┆ nm1335271 ┆ composer        ┆ \N                      ┆ \N         │
└───────────┴──────────┴───────────┴─────────────────┴─────────────────────────┴────────────┘

In [9]:
df_path = "../dagster/data/raw_data/parquet/imdb.movies.parquet"
df = pl.read_parquet(df_path)
print(df.shape)
print(df.columns)
df.head()

(301971, 11)
['const', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'releaseDate', 'endYear', 'runtimeMinutes', 'genre', 'averageRating', 'numVotes']

shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ const     ┆ titleType ┆ primaryTi ┆ originalT ┆ … ┆ runtimeMi ┆ genre     ┆ averageRa ┆ numVotes │
│ ---       ┆ ---       ┆ tle       ┆ itle      ┆   ┆ nutes     ┆ ---       ┆ ting      ┆ ---      │
│ str       ┆ str       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ str       ┆ ---       ┆ i32      │
│           ┆           ┆ str       ┆ str       ┆   ┆ i32       ┆           ┆ f32       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ tt0111161 ┆ movie     ┆ The       ┆ The       ┆ … ┆ 142       ┆ Drama     ┆ 9.3       ┆ 2835969  │
│           ┆           ┆ Shawshank ┆ Shawshank ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ Redemptio ┆ Redemptio ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ n         ┆ n         ┆   ┆           ┆           ┆           ┆          │
│ tt0468569 ┆ movie     ┆ The Dark  ┆ The Dark  ┆ … ┆ 152       ┆ Action,Cr ┆ 9.0       ┆ 2817391  │
│           ┆           ┆ Knight    ┆ Knight    ┆   ┆           ┆ ime,Drama ┆           ┆          │
│ tt1375666 ┆ movie     ┆ Inception ┆ Inception ┆ … ┆ 148       ┆ Action,Ad ┆ 8.8       ┆ 2500739  │
│           ┆           ┆           ┆           ┆   ┆           ┆ venture,S ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆ ci-Fi     ┆           ┆          │
│ tt0137523 ┆ movie     ┆ Fight     ┆ Fight     ┆ … ┆ 139       ┆ Drama     ┆ 8.8       ┆ 2271670  │
│           ┆           ┆ Club      ┆ Club      ┆   ┆           ┆           ┆           ┆          │
│ tt0109830 ┆ movie     ┆ Forrest   ┆ Forrest   ┆ … ┆ 142       ┆ Drama,Rom ┆ 8.8       ┆ 2210564  │
│           ┆           ┆ Gump      ┆ Gump      ┆   ┆           ┆ ance      ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [20]:
# df = df.rename({"releaseDate": "year"})
print(df.columns)

# df.write_parquet('../dagster/data/raw_data/parquet/imdb.movies.parquet')
df = df.filter(pl.col('year') > 2023)
df.head(50)

['const', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'year', 'endYear', 'runtimeMinutes', 'genre', 'averageRating', 'numVotes']

shape: (0, 11)
┌───────┬───────────┬─────────────┬─────────────┬───┬─────────────┬───────┬─────────────┬──────────┐
│ const ┆ titleType ┆ primaryTitl ┆ originalTit ┆ … ┆ runtimeMinu ┆ genre ┆ averageRati ┆ numVotes │
│ ---   ┆ ---       ┆ e           ┆ le          ┆   ┆ tes         ┆ ---   ┆ ng          ┆ ---      │
│ str   ┆ str       ┆ ---         ┆ ---         ┆   ┆ ---         ┆ str   ┆ ---         ┆ i32      │
│       ┆           ┆ str         ┆ str         ┆   ┆ i32         ┆       ┆ f32         ┆          │
╞═══════╪═══════════╪═════════════╪═════════════╪═══╪═════════════╪═══════╪═════════════╪══════════╡
└───────┴───────────┴─────────────┴─────────────┴───┴─────────────┴───────┴─────────────┴──────────┘